
.sub-slider-area-large #bg-slider .item img {
    width: 100%;
    height: 200px
}

.sub-slider-area-large {
    position: relative;
    height: 200px
}

.sub-slider-area-large h3 {
    color: #ffffff;
    float: left;
}

.sub-slider-area-large .form-inline .form-control {
    clear: both;
    height: 40px;
}

.sub-slider-area-large form {
    clear: both;
}

.cs-job-vacancy-type, .cs-job-specialism-type, #dashboard-nav-side-menu-job-browse{
    border: 1px solid #f2f2f2;
    border-bottom: none;
}

.searchbox-heading {
    padding: 10px 20px 0;
    color: #424242;
    background-color: #efeeee;
}

.cs-job-vacancy-type label, .cs-job-specialism-type label {
    display:block;
    padding: 0 20px 0;
}

.browse-jobs .brand {
    text-align: left !important;
    padding-left: 20px;
    background-color: #a9a9a9;
    color: #ffffff;
}

.side-nav-menu {
    margin-right: 5px !important;
}

#dashboard-nav-side-menu-job-browse.nav-side-menu ul .sub-menu li, #dashboard-nav-side-menu-job-browse.nav-side-menu li .sub-menu li {
    /* background-color: #181c20; */
    border: none;
    line-height: 28px;
    /*border-bottom: 1px solid #ececec;*/
    margin-left: 20px;
    display: -webkit-box;
}

#dashboard-nav-side-menu-job-browse.nav-side-menu ul .sub-menu li.active, #dashboard-nav-side-menu-job-browse.nav-side-menu li .sub-menu li.active {
    border-left: 3px solid #0096cc;
    padding-left: 10px;
    color: #0096cc;
}

#dashboard-nav-side-menu-job-browse.nav-side-menu ul .active, #dashboard-nav-side-menu-job-browse.nav-side-menu li .active {
    border-left: 0;
}

#dashboard-nav-side-menu-job-browse.nav-side-menu li:hover {
    border-left: 0;
}

#dashboard-nav-side-menu-job-browse .menu-content ul li label {
    font-size: 12px;
    width: 250px;
}

#dashboard-nav-side-menu-job-browse.nav-side-menu ul .sub-menu li:hover,
#dashboard-nav-side-menu-job-browse.nav-side-menu li .sub-menu li:hover {
    padding-left: 0;
    border-left: 0;
}

#dashboard-nav-side-menu-job-browse.nav-side-menu li a {
    background-color: #efeeee;
}